<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Маппер категорий</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/angular-ui/ui-select/master/dist/select.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.bootstrap3.css">
  <script type="text/javascript" src="https://cdn.rawgit.com/nodeca/js-yaml/master/dist/js-yaml.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/angular-ui/ui-select/master/dist/select.min.js"></script>
  <script type="text/javascript">
    angular.module('app', ['ui.select', 'ngSanitize']);

    var app = angular.module('app');
    app.controller('MainCtrl', function ($scope) {

      $scope.shopCategories = fetchStoringCategories('shopCategories')
      $scope.categories = fetchStoringCategories('categories')

      $scope.flatCategories = [];
      $scope.flatShopCategories = [];
      // название скачиваемого файла
      $scope.filename = localStorage.getItem('filename') || '';
      $scope.genders = {
        '0': 'любой пол',
        '1': 'женский',
        '2': 'мужской',
        '3': 'унисекс'
      };

      $scope.dumpCategories = function () {
        var categories = angular.copy($scope.shopCategories);
        var text = jsyaml.dump(cleanShopCategories(categories));
        var blob = new Blob([text], {type: 'text/yaml'});
        var link = document.createElement('a');
        link.download = $scope.filename || 'shop-categories.yaml';
        if (window.webkitURL != null) {
          link.href = window.webkitURL.createObjectURL(blob);
        } else {
          link.href = window.URL.createObjectURL(blob);
          link.onclick = function () {
            $(link).remove();
          };
          link.style.display = "none";
          document.body.appendChild(link);
        }
        link.click();
      };

      $scope.onSelect = function () {
        saveShopCategories();
      };

      $scope.$watch('shopCategories', function () {
        $scope.flatShopCategories = flattenCategory($scope.shopCategories);
        $scope.flatShopCategories.forEach(function (category) {
          category.original.mapTo = category.original.mapTo || [];
        });
        saveShopCategories();

      });
      $scope.$watch('categories', function () {
        $scope.flatCategories = flattenCategory($scope.categories);
        saveCategories();
      });

      function fetchStoringCategories (key) {
        var categories;
        try {
          categories = JSON.parse(localStorage.getItem(key));
        } catch (e) {
          console.error(e, e.stack);
        }
        return categories || [];
      }

      function saveShopCategories () {
        if ($scope.shopCategories.length) {
          localStorage.setItem('shopCategories', JSON.stringify($scope.shopCategories));
        }
      }

      function saveCategories () {
        if ($scope.categories.length) {
          localStorage.setItem('categories', JSON.stringify($scope.categories));
        }
      }

      function cleanShopCategories (categories) {
        categories.forEach(function (category) {
          if (category.mapTo && !category.mapTo.length) {
            delete category.mapTo;
          }
          if (category.children && category.children.length) {
            cleanShopCategories(category.children);
          }
        });
        return categories;
      }


      function flattenCategory (arr, namePrefix) {
        namePrefix = namePrefix || '';
        var res = [];
        $.each(arr, function (k, v) {
          var name = namePrefix + v.name;
          res.push({
            name: name,
            original: v
          });
          if (v.children) {
            res = res.concat(flattenCategory(v.children, name + '/'));
          }
        });
        return res;
      }

    });

    app.directive('yamlReader', function () {
      return {
        require: 'ngModel',
        restrict: 'A',
        scope: {
          filename: '='
        },
        link: function (scope, element, attrs, ngModelCtrl) {
          $(element).on('change', function() {
            var file = this.files[0];
            var reader = new FileReader();
            reader.onload = function () {
              ngModelCtrl.$setViewValue(jsyaml.load(reader.result));
              scope.$apply(function() {
                scope.filename = file.name;
                localStorage.setItem('filename', scope.filename);
              });
            };
            reader.readAsText(file);
          });
        }
      };
    });
  </script>
</head>
<body ng-controller="MainCtrl">
  <div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <td>
          Категории магазина
          <input type="file" yaml-reader ng-model="shopCategories" filename="filename"/>
          <h3>{{shop.name}}</h3>
        </td>
        <td>
          Категории
          <input type="file" yaml-reader ng-model="categories" filename="_"/>
        </td>
      </tr>
    </thead>
    <tbody>
     <tr ng-repeat="shopCategory in flatShopCategories">
       <td>{{::shopCategory.name}} <b ng-show="shopCategory.original.count">{{::shopCategory.original.count}}</b></td>
       <td>
          <div ng-repeat="map in shopCategory.original.mapTo">
            <select class="form-control" ng-model="map.sex" ng-options="value*1 as title for (value, title) in genders" style="display: inline-block; width: 120px; vertical-align: top;">
            </select>
            <ui-select ng-model="map.name" theme="selectize" on-select="onSelect()" style="min-width: 300px; display: inline-block;">
              <ui-select-match placeholder="Выберите категорию...">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="category.name as category in flatCategories | filter:{name: $select.search}">
                <div>{{::category.name}}</div>
              </ui-select-choices>
            </ui-select>
            <button class="btn btn-default" title="Удалить маппер" ng-click="shopCategory.original.mapTo.splice($index, 1); onSelect()" style="vertical-align: top;"><i class="glyphicon glyphicon-trash"></i></button>
          </div>
          <button class="btn btn-default" ng-click="shopCategory.original.mapTo.push({sex: 0, name: ''})"><i class="glyphicon glyphicon-plus"></i> Добавить маппер</button>
       </td>
     </tr>
    </tbody>
  </table>
  <button class="btn btn-promary" type="button" ng-click="dumpCategories()">Сохранить категории магазина</button>
  </div>
</body>
</html>